{% if block.data.preview_image_help %}

<img src={{block.data.preview_image_help}}" style="width:100%; height:auto;">

{% else %}
    {% if is_preview %}
    <style>{{output_css(block)}}</style>
    <block-preview>
    {% endif %}

    {% block content %}
    Sorry, no content
    {% endblock %}

    {% if is_preview %}
    </block-preview>

    {% endif %}

{% endif %}
