{% extends "block-base.twig" %}

{% block content %}
{{block_name}}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="flex">
            <InnerBlocks/>
        </div>
    </div>
</section>
{% endblock %}
